# things from toolchain
binutils-*/
gcc-*/
grub/
objconv/
build-*/

# compiled objects
*.o
hexos.bin

# iso and sysroot should be compiled from source
*.iso
isodir
sysroot

# don't upload the harddrive image. can you imagine the merge conflicts?
hdd.img
 # external binary that should not be uploaded to git
core.iso
